    * {
        padding: 0;
        margin: 0;
    }
    /*Buttons*/
    
    .item {
        width: 200px;
        height: 200px;
        margin: 50px auto;
        padding-top: 75px;
        background: #ccc;
        text-align: center;
        color: #FFF;
        font-size: 3em;
    }
    
    .button {
        width: 277px;
        height: 56px;
        font: 18px/24px 'Sarala', sans-serif;
    }
    
    .button_thick {
        border: none;
        color: #FFF;
        background-color: rgba(0, 0, 0, 1);
        transition: background-color 0.2s;
        border: 1px solid rgb(0, 0, 0);
    }
    
    .button_thick:hover {
        color: #000;
        background-color: rgba(255, 0, 0, 0);
    }
    
    .button_thick:active {
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
    
    .button_transparent {
        color: #FFF;
        border: 1px solid #FFF;
        background-color: rgba(255, 255, 255, 0);
        transition: background-color 0.2s;
    }
    
    .button_transparent:hover {
        color: #000;
        background-color: rgba(255, 255, 255, 1);
    }
    
    .button_transparent:active {
        color: rgb(255, 255, 255);
        background-color: rgba(37, 37, 37, 0.3);
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
    
    .page-wrapper {
        max-width: 6144px;
        margin: auto;
    }
    /*b-top*/
    
    .b-top {
        padding: 36px 135px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: center / cover no-repeat url(../images/b-top-background.jpg) scroll;
    }
    
    .header {
        padding-bottom: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #FFF;
    }
    
    .header__menu {
        min-width: 25%;
    }
    
    .menu__link {
        text-decoration: none;
        font: 500 18px/18px 'Montserrat', sans-serif;
        color: #FFF;
        margin-left: 60px;
        position: relative;
    }
    
    .menu__link::after {
        content: "";
        position: absolute;
        display: block;
        background-color: #FFF;
        bottom: -3px;
        width: 100%;
        height: 1px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    .menu__link:hover::after {
        opacity: 1;
    }
    
    .b-top__content {
        max-width: 55%;
        display: flex;
        flex-direction: column;
        margin: 0 0 150px 120px;
    }
    
    .b-top__header {
        font: 60px/1.2'Montserrat', sans-serif;
        color: #FFF;
        margin-bottom: 57px;
    }
    
    .b-top__slider {
        display: flex;
        max-width: 222px;
        justify-content: space-between;
    }
    
    .b-top__slder-switcher {
        width: 66px;
        height: 8px;
        background: #FFFFFF;
        opacity: 0.3;
        border-radius: 14px;
    }
    
    .b-top__slder-switcher_active {
        opacity: 0.8;
    }
    /*Secuence*/
    
    .b-sequence {
        margin: 175px 138px;
        display: flex;
        flex-direction: column;
    }
    
    .b-secuence__header {
        width: 70%;
        position: relative;
        font: 28px/1.2 'Montserrat', sans-serif;
        color: #404040;
        align-self: center;
        text-align: center;
        margin-bottom: 190px;
    }
    
    .b-secuence__header::after {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 140px;
        opacity: 0.5;
        background-color: #000;
        bottom: -60px;
        left: 45%;
    }
    
    .b-secuence__header::before {
        display: block;
        position: absolute;
        content: "";
        height: 2px;
        width: 140px;
        opacity: 0.5;
        background-color: #000;
        top: -60px;
        left: 45%;
    }
    
    .b-sequence__wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .b-sequence__container {
        max-width: 25%;
    }
    
    .b-sequence__container-digit {
        font: 144px 'Open Sans', sans-serif;
        color: #F1EDEA;
        margin-bottom: 36px;
    }
    
    .small-header {
        font: 26px 'Montserrat', sans-serif;
        color: #000000;
        margin-bottom: 16px;
    }
    
    .b-sequence__container-text {
        font: 16px/1.6 'Montserrat', sans-serif;
        color: #6E6E6E;
    }
    /*Moodboard*/
    
    .b-moodboard {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .b-moodboard__wrapper {
        margin-left: 138px;
        max-width: 32%;
        display: flex;
        position: relative;
        align-items: center;
    }
    
    .b-moodboard__content-container {
        position: absolute;
        width: 1220px;
        display: flex;
        align-items: center;
        padding-bottom: 200px;
        justify-content: space-between;
        z-index: 2;
    }
    
    .b-moodboard__text-container {
        width: 616px;
    }
    
    .block-header {
        font: 48px/1.1 'Montserrat', sans-serif;
        color: #404040;
        margin-bottom: 18px;
    }
    
    .block-text {
        font: 16px/1.6 'Montserrat', sans-serif;
        color: #6E6E6E;
    }
    
    .b-moodboard__front-images {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        width: 40%;
        font-size: 0;
    }
    
    .b-moodboard__front-image {
        width: 100%;
    }
    /*Order-with-slider*/
    
    .b-order-with-slider {
        padding: 154px 0 77px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    .b-order-with-slider__text-wrapper {
        margin-bottom: 192px;
    }
    
    .b-order-with-slider__header {
        margin-bottom: 32px;
    }
    
    .b-order-with-slider__text {
        margin-bottom: 26px;
    }
    
    .b-order-with-slider__slider-container {
        position: relative;
        align-self: center;
        height: 46px;
        width: 70%;
    }
    
    .b-order-with-slider__slider-head {
        display: flex;
        position: relative;
        height: 100%;
        background-color: #F7F7F7;
        border-radius: 16px 16px 0 0;
        z-index: 4;
    }
    
    .slider-circle__container {
        display: flex;
        margin: 15px 0 0 20px;
        justify-content: space-around;
        width: 70px;
    }
    
    .cirlce {
        width: 16px;
        height: 16px;
        background: #C4C4C4;
        opacity: 0.4;
        border-radius: 50px;
    }
    /*Slider*/
    
    .b-order-with-slider__slider {
        display: flex;
        padding: 0 275px;
        top: 2px;
        left: 0;
        height: 80vh;
        background: #FFFFFF;
        border-radius: 16px;
        justify-content: space-between;
        overflow: hidden;
    }
    
    .slider__column {
        display: flex;
        flex-direction: column;
        max-width: 175px;
    }
    
    .slider__item {
        margin: 25px 0 0 0;
        display: flex;
    }
    /*Dummy block*/
    
    .b-dummy {
        height: 80vh;
        background: #232323;
    }
    /*advantages*/
    
    .b-advantages {
        padding: 157px 340px;
        display: flex;
        justify-content: space-around;
    }
    
    .b-advantages__container {
        text-align: center;
        max-width: 300px;
    }
    
    .b-advantages__container-header {
        margin-bottom: 16px;
    }
    /*about us*/
    
    .b-about-us {
        display: flex;
    }
    
    .b-about-us__image-container {
        max-width: 50%;
    }
    
    .b-about-us__image {
        height: 100%;
    }
    
    .b-about-us__text-container {
        padding: 123px 135px 0 160px;
    }
    
    .b-about-us__header {
        margin-bottom: 46px;
    }
    
    .b-about-us__text {
        margin-bottom: 66px;
    }
    /*Testimonials*/
    
    .b-testimonials {
        padding: 131px 547px 96px 545px;
        display: flex;
        flex-direction: column;
        background: #F1E9E6;
    }
    
    .b-testimonials__testimonial-container {
        display: flex;
    }
    
    .b-testimonials__testimonial-container_reverse {
        flex-direction: row-reverse;
    }
    
    .testimonial-container__photo {
        margin-right: 50px;
    }
    
    .testimonial-container__photo_reverse {
        margin-right: 0;
        margin-left: 50px;
    }
    
    .b-testimonials__header {
        align-self: center;
        margin-bottom: 70px;
    }
    
    .testimonial-container__header {
        font: 600 20px/1.3 'Montserrat', sans-serif;
        color: #000000;
        margin-bottom: 12px;
    }
    
    .testimonial-container__text-container {
        margin-bottom: 60px;
        padding: 32px 52px 36px 43.5px;
        background: #FFFFFF;
        border-radius: 10px;
    }
    /*Projects*/
    
    .b-projects {
        padding: 128px 135px 121px 140px;
    }
    
    .b-projects__header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 46px;
    }
    
    .b-projects__slider {
        display: flex;
        justify-content: space-between;
    }
    
    .b-projects__slider-navigation {
        display: flex;
        justify-content: space-between;
        width: 70px;
    }
    
    .slider__arrow_disabled {
        opacity: 0.2;
    }
    
    .b-projects__slider-slide {
        margin-right: 40px;
    }
    
    .slider-slide__text {
        line-height: 32px;
    }
    
    .b-slider-slide__image {
        margin-bottom: 29px;
    }
    /*Lead form*/
    
    .b-lead-form {
        padding: 95px 0;
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 40%;
    }
    
    .b-lead-form__header {
        text-align: center;
        margin-bottom: 67px;
    }
    
    .b-lead-form__lead-form {
        align-self: center;
    }
    
    .lead-form__field {
        width: 313px;
        background: #FFF;
        padding: 10px 0 10px 16px;
        border: 1px solid #000;
        border-radius: 5px 0px 0px 5px;
        font: 18px/1.33 'Sarala', sans-serif;
        color: #000;
        opacity: 0.3;
    }
    
    .lead-form__field:focus {
        opacity: 1;
    }
    
    .b-lead-form__lead-form {
        display: flex;
    }
    
    .lead-form__button {
        width: 186px;
        height: 56px;
        background: #18191F;
        border-radius: 0px 5px 5px 0px;
    }
    /*Footer*/
    
    .b-footer {
        margin: 0 135px;
        padding: 36px 0;
        border-top: 1px solid #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer__social-links-wrapper {
        display: flex;
    }
    
    .footer__social-link {
        width: 40px;
        height: 40px;
        background: rgba(47, 51, 55, 0.1);
        border-radius: 4px;
        margin-left: 27px;
        position: relative;
    }
    
    .footer__social-link::before {
        display: block;
        position: absolute;
        top: 9px;
        left: 9px;
    }
    
    .footer__social-link_instagram::before {
        content: url(/images/social-links/instagram.png);
    }
    
    .footer__social-link_dribbble::before {
        content: url(/images/social-links/Dribbble.png);
    }
    
    .footer__social-link_twitter::before {
        content: url(/images/social-links/Twitter.png);
        top: 12px;
    }
    
    .footer__social-link_youtube::before {
        content: url(/images/social-links/youtube.png);
        top: 12px;
    }